#title {
    font-family: "thin pixel 7";
    font-size: 64px;
    color: #d58512;
    text-align: center;
}

#contents {
    color: blueviolet;
    font-family: "thin pixel 7";
    font-size: 44px;
    margin-top: 10px;
    /*border: 3px dotted white;*/
    border-radius: 10px;
    padding: 40px;
}

input[type="text"] {
    color: blueviolet;
    font-size: 44px;
    height: 42px;
    padding: 0 5px 3px 5px;
    line-height: 0.7;
    border-radius: 3px;
}

#textarea {
    color: blueviolet;
    font-size: 44px;
    line-height: 0.7;
    height: 160px;
}

label {
    line-height: 0.7;
}

#sendbtn {
    width: 140px;
    cursor: pointer;
}