a {
    color: #31b0d5;
}

address {
    line-height: 30px;
}

#links {
    line-height: 30px;
}

#links ul li {
    cursor: pointer;
    font-size: 56px;
    /*text-shadow: 1px 1px 1px rgb(255, 255, 255);*/
    margin-right: 50px;
}

#cer {
    color: #ffffff;
}

#fes {
    color: #31b0d5;
}

#contents {
    font-size: 36px;
    font-family: "thin pixel 7";
    color: #ffffff;
    margin: 0 auto;
}

.special {
    color: #ff8c00;
    font-size: 44px;
}

.pagetitle {
    color: chartreuse;
    font-size: 44px;
}

#map_canvas {
    width: 500px;
    height: 340px;
    background-color: #CCC;
    margin-top: 10px;
    border: 2px solid chartreuse;
}