#contents {
    font-family: "thin pixel 7";
    font-size: 68px;
    margin-top: 80px;
    /*border: 3px dotted blueviolet;*/
    border-radius: 10px;
}

#contents div {
    text-align: center;
    cursor: pointer;
    padding: 30px;
}

#contents a {
    margin: 0 auto;
    color: #31b0d5;
    line-height: 60px;
    text-decoration: none;
}
